body{
    margin: 0;
    padding: 100px;
}
*{
    box-sizing:border-box;
}
.container1{
    text-align: center;
    word-wrap: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid navajowhite;
    flex-direction: column;
    background-image:linear-gradient(to right,rgba(156, 158, 44, 0.5),rgba(228, 48, 48, 0.5));
    height:77vh
}
.container2{
    margin-top: 10px;
    margin-left: 19%;
    margin-right: 20%;
    
    
}
label{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 5px;
}
input[type="number"]{
height: auto;
width: 25vw;
text-align: center;
padding: auto;
margin-top: 25px;
}
button{
    margin-top: 20px;
    color: aliceblue;
    background-color:rgb(39, 33, 33);
    border: 0.05rem outset;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 100mm;
    padding: 5px;
    width: 20vw;
    height: 4.5vh;
    margin-left: 130px;
}
.check-result {
    margin-left: 125px;
    padding: 5px;
}
.result{
    padding: 5px;
    color: aliceblue;
}